body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #EEEEEE;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

#preloader {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader-img {
    width: 150px;
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1.2);
        opacity: 0.6;
    }

    50% {
        transform: scale(1.6);
        opacity: 1;
        filter: brightness(1.5);
    }
}

.nav-mv {
    position: fixed;
    z-index: 100;
    border-radius: 10px;
    background-color: black;
    opacity: 0.95;
    height: 75px;
    width: 99vw;
    transition: all 1s;
}

.navbar-nav .nav-link.nav-link-mv {
    font-size: 20px;
    color: white;
    transition: all 1s;
    background-color: black;
}

#dark-icon {
    display: none;
    color: black;
    font-size: 35px;
    padding: 0 30px 0 0;
    cursor: pointer;
}

#light-icon {
    color: white;
    font-size: 35px;
    padding: 0 30px 0 0;
    cursor: pointer;
}

.hero-section {
    overflow: hidden;
    margin-bottom: 150px;
}

.hero-section-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    border-radius: 10px;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
}

.hero-section-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size: 8vw;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    margin: 0;
    mix-blend-mode: overlay;
    pointer-events: none;
    font-style: italic;
}

.hero-section-title span {
    -webkit-text-stroke: 2px white;

}

.second-title {
    top: 90%;
}

.section {
    margin-left: 50px;
    display: flex;
    gap: 50px;
    margin-bottom: 150px;
    overflow: hidden;
}

.carousel-mv {
    width: 38vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: transform 0.5s;
}

.description:hover {
    transform: scale(1.04);
}

.section-title {
    font-size: 50px;
}

.section-button {
    width: fit-content;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.button-img {
    transition: transform 0.5s;
}

.button-img:hover {
    transform: scale(1.12);
}

.gallery-link {
    color: inherit;
}

.gallery-link:hover {
    color: inherit;
}

.section-text {
    font-size: 18px;
    text-wrap: wrap;
    width: 700px;
}

.btn-text-layout {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-text-layout i {
    font-size: 24px;
}

.btn-text-layout p {
    align-self: flex-end;
}

.reverse {
    flex-direction: row-reverse;
    margin-left: 0;
    margin-right: 100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #EEEEEE;
    border-radius: 10px;
    opacity: 0.8;
    color: #2b2f34;
    font-size: 20px;
    padding-top: 15px;
}

/*  Animation For Element Entry*/

.js-animation {
    transform: translateX(-50px);
    filter: blur(8px);
    opacity: 0;
    transition: transform 1.4s, opacity 1s, filter 1.2s;
}

.js-animation.visible {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
}

/* End Of Animation For Element Entry*/

/* Animation For Hero Section */

.hero-js {
    filter: blur(20px);
    transform: scale(0.3);
    opacity: 0;
    transition: transform 1s, filter 2.5s, opacity 4s;
}

.hero-js.normal-size {
    filter: blur(0);
    opacity: 1;
    transform: scale(1);
}

.hero-title-js {
    clip-path: inset(0 100% 0 0);
    filter: blur(8px);
    transition: clip-path 1s cubic-bezier(0.5, 0, 0.3, 1.2), filter 1s ease;
}


.hero-title-js.active {
    clip-path: inset(0 0 0 0);
    filter: blur(0px);
}

/* End Animation For Hero Section*/



/* Vabration for Button */
@keyframes vibration {
    0% {
        transform: rotateZ(-10deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(10deg);
    }
}

.button-img {
    display: inline-block;
}

.button-img.vibrate {
    animation: vibration 0.1s linear infinite;
}

/* End of Vibration */

@media screen and (max-width: 1024px) {

    .nav-mv {
        height: 85px;
    }

    .navbar-nav .nav-link.nav-link-mv {
        font-size: 25px;
        padding-left: 20px;
        border-radius: 10px;
    }

    .hero-section {
        margin-bottom: 50px;
    }

    .hero-section-img {
        height: 50vh;
    }

    .hero-section-title {
        top: 16%;
    }

    .second-title {
        top: 42%;
    }

    .section {
        flex-direction: column;
        align-items: center;
        margin: 0 0 50px 0;
    }

    .carousel-mv {
        width: 75vw;
        height: 37vh;
    }

    .reverse {
        margin-right: 0;
    }

    footer {
        height: 100px;
        font-size: 28px;
        padding: 0 0 20px 0;
    }
}

@media screen and (max-width: 920px) {

    .hero-section-img {
        height: 45vh;
    }

    .hero-section-title {
        top: 15%;
    }

    .second-title {
        top: 38%;
    }

    .description {
        width: 72vw;
    }

    .section-title {
        font-size: 40px;
    }

    .section-text {
        width: 75vw;
    }

    footer {
        height: 70px;
        padding: 20px 0 0 0;
    }
}

@media screen and (max-width: 768px) {

    .hero-section-img {
        height: 49vh;
    }

    .second-title {
        top: 41%;
    }
}

@media screen and (max-width: 431px) {

    .hero-section {
        margin-bottom: 0;
    }

    .hero-section-img {
        height: 36vh;
    }

    .hero-section-title {
        top: 30%;
    }

    .second-title {
        display: none;
    }

    .section {
        margin-bottom: 20px;
        gap: 0;
    }

    .carousel-mv {
        object-fit: contain;
    }

    .description {
        gap: 20px;
    }

    .section-title {
        font-size: 28px;
    }

    footer {
        font-size: 20px;
    }

}


/*  Gallery Styles*/

.main-gallery {
    position: relative;
    top: 90px;
}

.bugaatti-gallery-img {
    border-radius: 10px;
    margin-bottom: 100px;
    border: 5px solid rgb(53, 53, 53);
}

.bugaatti-gallery-img:hover {
    transform: scale(1.05);
}

.img-1 {
    float: right;
    margin-right: 70px;
}

.img-2 {
    margin-left: 70px;
}

.img-3 {
    margin-left: 140px;
}

.img-layout {
    margin-left: 70px;
    display: flex;
    gap: 20px;
}

.specs-title{
    margin-left: 50px;
    font-size: 60px;
    font-weight: 1000;
}

.specs-section{
    background-image: linear-gradient(to top , black , rgb(17, 17, 17), rgb(29, 29, 29), rgb(40, 40, 40), rgb(50, 50, 50));
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.spec-container{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 5px;
}

.feature{
    padding: 30px 0 20px 40px;
    font-weight: 900;
}

.spec{
    padding: 20px 50px 20px 0;
    margin: 0;
    font-size: 3rem;
    white-space: nowrap;
    font-weight: 100;
}

@media screen and (max-width: 1024px) {
    .main-gallery {
        top: 120px;
    }

    .img-1 {
        width: 88vw;
        height: auto;
    }

    .img-2 {
        width: 88vw;
        height: auto;
    }

    .img-3 {
        width: 88vw;
        height: auto;
        margin-left: 70px;
    }

    .img-layout {
        display: block;
    }

    .img-div-1 {
        width: 70vw;
        height: auto;
    }

    .img-div-2 {
        width: 88vw;
        height: auto;
    }

    .spec{
        padding-top: 30px;
        font-size: 40px;
    }

}

@media screen and (max-width: 820px) {
    .img-1 {
        margin-right: 50px;
    }

    .img-2 {
        margin-left: 50px;
    }

    .img-3 {
        margin-left: 50px;
    }

    .spec{
        padding: 33px 20px 0 0;
        font-size: 28px;
    }
}

@media screen and (max-width: 431px) {
    .img-1 {
        margin-right: 20px;

    }

    .img-2 {
        margin-left: 35px;
    }

    .img-3 {
        margin-left: 35px;
    }

    .img-layout{
        margin-left: 20px;
    }

    .specs-section{
        margin: 0 10px 0 10px;
    }

    .specs-title{
        font-size: 3rem;
    }

    .feature{
        padding-left: 10px;
        font-size: 20px;
    }

    .spec{
        padding: 30px 10px 0 0;
        font-size: 18px;
    }
}